html, p, body, div, ul, li, table, th, tr, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    list-style-type: none;
    border-collapse: collapse;
}
body {
    margin: 0 auto;
    background: white;
    min-width: 800px;
    max-width: 1500px;
    width: auto;
}
main {
    overflow: hidden;
}


                         /*Main blocks*/



.main-upper {
    background: url("../images/city.jpg");
    max-width: 100%;
    height: 70rem;
    background-size: cover;
    padding: 4rem;
}
.main-mid {
    background: url("../images/stone-3.jpg");
    max-width: 100%;
    height: 60rem;
    background-size: cover;
    position: relative;
    padding: 5rem 2rem;
 }
.main-lower {
      background-color: whitesmoke;
      max-width: 100%;
      height: 56rem;
    padding: 3rem 3rem;
}




                         /*Menu block*/




.main-menu {
    width: 4rem;
    height: 4rem;
    padding-top: 0;
    position: fixed;
    z-index: 2;
}
.main-button {
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    font-family: serif;
    border-radius: 2rem;
    text-align: center;
    background-color: red;
    color: white;
    animation: blinking 15s infinite;
}
.main-menu:hover {
    width: 20rem;
    height: 42rem;
}
.main-menu:hover .main-button {
    display: none;
    animation: none;
}
.main-menu:hover .main-menu-ul {
    display: block;
}
.main-menu-ul {
    display: none;
    width: auto;
    height: 42rem;
    margin-top: -1.5rem;
}
.main-menu-ul a div {
    font-size: 1.5rem;
    font-family: 'Comfortaa', serif;
    font-weight: bold;
    padding-top: 1.8rem;
    margin-top: 0.4rem;
    height: 5rem;
    width: auto;
    background:url("../images/images.png") no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 1rem;
}
.main-menu-ul a div:hover {
    box-shadow: inset 0 0 0.4rem 0.4rem black;
    font-size: 1.7rem;
    padding-top: 1.75rem;
}
.main-menu-ul a {
    color: whitesmoke;
    text-decoration: none;
}
.menu-li-1:hover {  color: blue;  }
.menu-li-2:hover {  color: green;  }
.menu-li-3:hover {  color: red;  }
.menu-li-4:hover {  color: yellow;  }
.menu-li-5:hover {  color: orange;  }
.menu-li-6:hover {  color: darkviolet;  }
.menu-li-7:hover {  color: #63b6e6;  }




                            /*Name + description*/




.main-name {
    text-align: center;
    font-size: 10rem;
    color: black;
    font-family: 'Champignon Script', serif;
    margin-top: 12rem;
 }
.main-description {
    text-align: center;
    font-size: 5rem;
    color: black;
    font-family: 'Champignon Script', serif;

}



                            /*Social pages*/




.fb {
    background: url("../images/icons8-Facebook Filled-50.png");
    width: 2rem;
    height: 2rem;
    background-size: cover;
    float: left;
    margin-right: 1rem;
    border-radius: 0.6rem;
}
.linkid {
    background: url("../images/icons8-ЛинкедИн Filled-50.png");
    width: 2rem;
    height: 2rem;
    background-size: cover;
    float: left;
    margin-right: 1rem;
    border-radius: 0.6rem;
}
.github {
    background: url("../images/icons8-GitHub Filled-50-2.png");
    width: 2rem;
    height: 2rem;
    background-size: cover;
    float: left;
    margin-right: 1rem;
    border-radius: 0.6rem;
}
.google {
    background: url("../images/icons8-googleplus-48.png");
    width: 2rem;
    height: 2rem;
    background-size: cover;
    float: left;
    margin-right: 1rem;
    border-radius: 0.6rem;
}
.solo {
    background: url("../images/sl-2.png");
    width: 2rem;
    height: 2rem;
    background-size: cover;
    float: left;
    border-radius: 0.6rem;
}
.main-links {
    width: 14rem;
    height: 2rem;
    clear: both;
    margin-top: 20rem;
    margin-left: 43%;
}
.fb:hover {  box-shadow: 0 0 0.2rem 0.2rem #4267b2;  }
.linkid:hover {  box-shadow: 0 0 0.2rem 0.2rem #0073b1;  }
.github:hover {  box-shadow: 0 0 0.2rem 0.2rem #24292e;  }
.solo:hover {  box-shadow: 0 0 0.2rem 0.2rem #1abc9c;  }
.google:hover {  box-shadow: 0 0 0.2rem 0.2rem red;  }



                                     /*PHOTO*/



/*.main-photo {*/
    /*background: url("../images/YaClear.png");*/
    /*background-size: cover;*/
    /*width: 20rem;*/
    /*height: 20rem;*/
    /*margin-left: 40%;*/
    /*border: 1rem solid #b8ffb7;*/
    /*border-radius: 10rem;*/
    /*overflow: hidden;*/
/*}*/
/*.main-photo img {*/
    /*background-size: cover;*/
    /*width: 18rem;*/
    /*height: 18rem;*/
/*}*/




                             /*Skills block*/




.skills-anim {
    text-align: center;
    height: 4rem;
    font-size: 5rem;
    font-family: 'Russo', sans-serif;
    color: black;
    animation: skills-anim 2s infinite;
}
.main-skills {
    width: 100%;
    clear: both;
}
.main-skills ul {
    margin: 5% 7% 0% 7%;
    font-size: 3rem;
    width: 43%;
    color: whitesmoke;
    float: left;
    font-family: 'Russo', sans-serif;
    text-align: left;
}
.main-skills ul:last-child {
    color: whitesmoke;
    margin-right: 0;
    margin-left: 0;
    text-align: left;
}
.main-skills ul li {
    margin-top: 1rem;
    font-size: 2rem;
    color: whitesmoke;
    text-align: left;
    font-family: Arial, sans-serif;
}
.main-skills ul li:first-child {
    margin-top: 2.5rem;
}
.battery {
    height: 5rem;
    width: 36rem;
    margin-left: -1rem;
}



                            /*Table block*/




.main-lower td {
    box-shadow: inset 0 0 0.2rem 0.2rem gray;
    height: 8rem;
    width: 20rem;
    padding: 0 1rem;
    text-align: center;
}
.main-lower th {
    font-size: 3rem;
    height: 4rem;
    box-shadow: inset 0 0 0.2rem 0.2rem gray;
    width: 20rem;
}



                            /*FONTS*/



@font-face {
    font-family: 'HenryMorganHand';
    src: url('../fonts/HenryMorganHand.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Champignon Script';
    src: local('Champignon Script'), url('../fonts/Champignon Script.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url('../fonts/Comfortaa-Regular.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Russo';
    src: local('Russo'), url('../fonts/RussoOne.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Sarina';
    src: local('Sarina'), url('../fonts/Sarina-Regular.ttf');
    font-weight: 300;
}



                            /*ANIMATIONS*/




@keyframes skills-anim {
    0% { padding-top: 2px;  padding-left: 15px;  color: black;  }
    22% { padding-top: 2px;  padding-left: 15px;  color: black;  }
    23% {  padding-top: 2px;  padding-left: 15px;  color: black;  }
    25% {  padding-top: 0;  padding-left: 30px;  color: red;  }
    27% {  padding-top: 10px;  padding-left: 0;  color: darkred;  }
    29% {  padding-top: 1px;  padding-left: 10px;  color: white;  }
    31% {  padding-top: 10px;  padding-left: 35px;  color: black;  }
    33% {  padding-top: 2px;  padding-left: 3px;  color: darkred;  }
    35% {  padding-top: 6px;  padding-left: 20px;  color: red;  }
    38% {  padding-top: 2px;  padding-left: 15px;  color: black;  }
    100% {  padding-top: 2px;  padding-left: 15px;  color: black;  }
}
@keyframes blinking {
    0% { transform: rotate(0deg);}
    24% { transform: rotate(0deg); background-color: red}
    29% { transform: rotate(360deg); background-color: #020b80}
    48% { transform: rotate(360deg); background-color: #020b80}
    53% { transform: rotate(0deg); background-color: orange}
    72% { transform: rotate(0deg); background-color: orange}
    77% { transform: rotate(360deg); background-color: green}
    95% { transform: rotate(360deg); background-color: green}
    100% { transform: rotate(0deg); background-color: red}
}
@keyframes button-down {
    0% {}
    90% {  transform: translateX(0rem) translateY(24rem) rotate(300deg);  opacity: 1;  }
    100% {  transform: translateX(0rem) translateY(26rem) rotate(360deg);  opacity: 0;  }
}