html, body, div {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
    position: relative;
    margin: 50px auto;
    background-color: silver;
    width: 300px;
    min-height: 300px;
}
.block-style {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 50px;
    width: 50px;
    background-color: red;
}
.block-style:hover {
    display: none;
}